In [5]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import interp
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize
from sklearn.metrics import auc
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [6]:
def load_data():
    # Import some data to play with
    iris = datasets.load_iris()
    X = iris.data
    y = iris.target

    # shuffle and split training and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5)

    return X_train, X_test, y_train, y_test

In [7]:
if __name__ == '__main__':
    X_train, X_test, y_train, y_test = load_data()

In [8]:
y_train

array([2, 0, 0, 0, 0, 2, 2, 2, 0, 0, 2, 0, 1, 0, 2, 1, 1, 0, 2, 1, 2, 2,
       2, 2, 2, 2, 1, 1, 1, 1, 0, 1, 1, 2, 1, 0, 1, 0, 1, 1, 0, 1, 2, 1,
       2, 1, 0, 0, 0, 1, 2, 1, 1, 1, 0, 2, 1, 0, 2, 1, 0, 2, 0, 2, 0, 0,
       0, 2, 1, 1, 2, 2, 2, 0, 1])

In [9]:
y_test

array([0, 1, 2, 2, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0, 1, 1, 1, 2, 1, 2, 2,
       1, 0, 1, 1, 2, 2, 1, 1, 0, 2, 0, 0, 2, 1, 2, 2, 0, 0, 0, 2, 0, 0,
       1, 0, 2, 2, 0, 0, 1, 2, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0,
       0, 2, 1, 2, 2, 2, 2, 1, 1])

In [10]:
y_train = label_binarize(y_train, classes=[0, 1, 2]) #首先对真是的label进行onehot编码

In [15]:
y_train
import pandas as pd
y_train = pd.DataFrame(y_train)

In [18]:
y_train[:5]

   0  1  2
0  0  0  1
1  1  0  0
2  1  0  0
3  1  0  0
4  1  0  0

In [19]:
y_train.shape

(75, 3)

In [20]:
75*3

225

In [94]:
y_pred = np.random.uniform(0,1,size=(75,3))

In [95]:
y_pred = pd.DataFrame(y_pred)
y_pred[:5]

          0         1         2
0  0.497551  0.449779  0.899468
1  0.177521  0.966981  0.855467
2  0.651352  0.659658  0.113886
3  0.151705  0.658108  0.929616
4  0.847887  0.255122  0.156099

In [96]:
y_pred.shape[0]

75

In [97]:
y_pred.columns.values.tolist()

[0, 1, 2]

In [98]:
from sklearn.metrics import confusion_matrix as CM, precision_score as P, recall_score as R
from sklearn.metrics import roc_auc_score as AUC

def Recall_fpr(threshold):
    recall = []
    FPR = []
    precision = []
    auc = []
    y_predbak = y_pred.copy()
    for j in range(y_pred.shape[1]):
        for i in range(y_pred.shape[0]):
            if y_predbak.iloc[i,j] >threshold:
                y_predbak.loc[i,f'pred{j}'] = 1
            else:
                y_predbak.loc[i,f'pred{j}'] = 0
                
        y_predbak['y_true'] = y_train.iloc[:,j]
        y_preds = y_predbak.sort_values(by=j,ascending=False)
        
        cm = CM( y_preds.loc[:,'y_true'],y_preds.loc[:,f'pred{j}'],labels=[1,0])
    # fpr
        fprr = cm[1,0]/cm[1,:].sum()
    #recall
        recalll = cm[0,0]/cm[0,:].sum()
    #precision
        precisionn = P(y_preds.loc[:,'y_true'],y_preds.loc[:,f'pred{j}'])
    #auc 
        area = AUC( y_preds.loc[:,'y_true'],y_preds.loc[:,f'pred{j}'])
    
        recall.append(recalll)
        FPR.append(fprr)
        precision.append(precisionn)
        auc.append(area)
    print( recall,FPR,precision,auc)
    return recall,FPR,precision,auc

In [99]:
recall11,FPR11,precision11,auc11 = Recall_fpr(0.5)

[0.5833333333333334, 0.5, 0.48] [0.49019607843137253, 0.5918367346938775, 0.56] [0.358974358974359, 0.30952380952380953, 0.3] [0.5465686274509804, 0.45408163265306123, 0.45999999999999996]

In [42]:
recall

[0.5, 0.5769230769230769, 0.52]

In [43]:
FPR

[0.5490196078431373, 0.5714285714285714, 0.34]

In [102]:
predthreshold = np.linspace(0,1,num=20,endpoint=False)

In [103]:
predthreshold

array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ,
       0.55, 0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95])

In [104]:
recall_list = []
FPR_list = []
for i in predthreshold:
    recalls,FPRs,precisions,aucs = Recall_fpr(i)
    recall_list.append(recalls)
    FPR_list.append(FPRs)

[1.0, 1.0, 1.0] [1.0, 1.0, 1.0] [0.32, 0.3466666666666667, 0.3333333333333333] [0.5, 0.5, 0.5]
[0.875, 0.9230769230769231, 0.96] [0.9215686274509803, 1.0, 1.0] [0.3088235294117647, 0.3287671232876712, 0.32432432432432434] [0.4767156862745098, 0.46153846153846156, 0.48]
[0.8333333333333334, 0.8076923076923077, 0.92] [0.8823529411764706, 0.9591836734693877, 0.96] [0.3076923076923077, 0.3088235294117647, 0.323943661971831] [0.47549019607843146, 0.42425431711146, 0.48000000000000004]
[0.8333333333333334, 0.7692307692307693, 0.88] [0.8431372549019608, 0.8979591836734694, 0.94] [0.31746031746031744, 0.3125, 0.3188405797101449] [0.4950980392156863, 0.43563579277864994, 0.47000000000000003]
[0.7083333333333334, 0.7307692307692307, 0.88] [0.7843137254901961, 0.8775510204081632, 0.86] [0.2982456140350877, 0.3064516129032258, 0.3384615384615385] [0.46200980392156865, 0.42660910518053374, 0.51]
[0.6666666666666666, 0.6538461538461539, 0.84] [0.7647058823529411, 0.8367346938775511, 0.84] [0.2909090909090909, 0.29310344827586204, 0.3333333333333333] [0.45098039215686275, 0.40855572998430145, 0.5]
[0.625, 0.6153846153846154, 0.76] [0.6862745098039216, 0.7755102040816326, 0.74] [0.3, 0.2962962962962963, 0.3392857142857143] [0.4693627450980392, 0.4199372056514914, 0.51]
[0.5833333333333334, 0.6153846153846154, 0.76] [0.6274509803921569, 0.7346938775510204, 0.68] [0.30434782608695654, 0.3076923076923077, 0.3584905660377358] [0.47794117647058826, 0.4403453689167975, 0.54]
[0.5833333333333334, 0.5384615384615384, 0.68] [0.6274509803921569, 0.7142857142857143, 0.6] [0.30434782608695654, 0.2857142857142857, 0.3617021276595745] [0.47794117647058826, 0.41208791208791207, 0.54]
[0.5833333333333334, 0.5384615384615384, 0.52] [0.5490196078431373, 0.6530612244897959, 0.58] [0.3333333333333333, 0.30434782608695654, 0.30952380952380953] [0.5171568627450981, 0.4427001569858713, 0.47000000000000003]
[0.5833333333333334, 0.5, 0.48] [0.49019607843137253, 0.5918367346938775, 0.56] [0.358974358974359, 0.30952380952380953, 0.3] [0.5465686274509804, 0.45408163265306123, 0.45999999999999996]
[0.4583333333333333, 0.46153846153846156, 0.48] [0.45098039215686275, 0.5306122448979592, 0.46] [0.3235294117647059, 0.3157894736842105, 0.34285714285714286] [0.5036764705882353, 0.46546310832025123, 0.51]
[0.375, 0.4230769230769231, 0.44] [0.4117647058823529, 0.4897959183673469, 0.38] [0.3, 0.3142857142857143, 0.36666666666666664] [0.48161764705882354, 0.4666405023547881, 0.53]
[0.3333333333333333, 0.4230769230769231, 0.36] [0.39215686274509803, 0.42857142857142855, 0.3] [0.2857142857142857, 0.34375, 0.375] [0.47058823529411764, 0.49725274725274726, 0.5299999999999999]
[0.20833333333333334, 0.34615384615384615, 0.32] [0.27450980392156865, 0.32653061224489793, 0.28] [0.2631578947368421, 0.36, 0.36363636363636365] [0.4669117647058823, 0.5098116169544742, 0.52]
[0.125, 0.2692307692307692, 0.24] [0.23529411764705882, 0.2857142857142857, 0.22] [0.2, 0.3333333333333333, 0.35294117647058826] [0.44485294117647056, 0.49175824175824173, 0.51]
[0.125, 0.23076923076923078, 0.24] [0.19607843137254902, 0.2653061224489796, 0.18] [0.23076923076923078, 0.3157894736842105, 0.4] [0.4644607843137255, 0.48273155416012553, 0.53]
[0.041666666666666664, 0.23076923076923078, 0.16] [0.1568627450980392, 0.20408163265306123, 0.16] [0.1111111111111111, 0.375, 0.3333333333333333] [0.44240196078431376, 0.5133437990580848, 0.49999999999999994]
[0.0, 0.23076923076923078, 0.12] [0.058823529411764705, 0.16326530612244897, 0.08] [0.0, 0.42857142857142855, 0.42857142857142855] [0.47058823529411764, 0.533751962323391, 0.5200000000000001]
[0.0, 0.15384615384615385, 0.04] [0.058823529411764705, 0.08163265306122448, 0.0] [0.0, 0.5, 1.0] [0.47058823529411764, 0.5361067503924647, 0.52]

In [108]:
import  pandas
datarecall_list =  pandas.DataFrame(recall_list)

In [109]:
datarecall_list

           0         1     2
0   1.000000  1.000000  1.00
1   0.875000  0.923077  0.96
2   0.833333  0.807692  0.92
3   0.833333  0.769231  0.88
4   0.708333  0.730769  0.88
5   0.666667  0.653846  0.84
6   0.625000  0.615385  0.76
7   0.583333  0.615385  0.76
8   0.583333  0.538462  0.68
9   0.583333  0.538462  0.52
10  0.583333  0.500000  0.48
11  0.458333  0.461538  0.48
12  0.375000  0.423077  0.44
13  0.333333  0.423077  0.36
14  0.208333  0.346154  0.32
15  0.125000  0.269231  0.24
16  0.125000  0.230769  0.24
17  0.041667  0.230769  0.16
18  0.000000  0.230769  0.12
19  0.000000  0.153846  0.04